
<nav>
    <ul>
        <li>
            @*@Html.ActionLink("Home", "Index", "Home")*@
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-area="" asp-controller="People" asp-action="Index">People</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
    </ul>
</nav>
